:root{
    --main-color:#d3ad7f;
    --black:black;
    --border:.1rem solid #d3ad7f;
}



*{
    margin: 0;
    padding: 0;
    
}

.home{
    min-height: 100vh;
    display: flex;
    background: url(/Coffee_House/Images/home\ page.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 75%; 
    height: 75%;
    padding: 25px;
    
}
.wrapper h2{
    
    color: #d3ad7f;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;

}

.wrapper h4{
    color: #d3ad7f;
    font-size: 20px;
}

.wrapper .input-Gbox label {
  color: #fff;
}


.wrapper .input-Pgroup label{
    color: #fff;
}

.wrapper .input-Pgroup i {
    color: black ;
    font-size: 25px;
}


.wrapper ion-icon{
font-size: 25px;
}

.check-out-btn-1{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 25px;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.check-out-btn-1:hover {
    color: var(--black);
}


